/*Table of Contents
1. Reset
2. Universal Items
3. Header
4. Navigation
5. Footer
6.
*/

/* Featured Color -- #12aef */

/*This is the reset*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: 1px solid black;
}
a {
    color: inherit;
    display: inline-block;
}
a.banner-link:visited, a.banner-link:link{
  font-style: italic;

}

a:hover {
     color: #5A7684;
}
a, a:hover {
    text-decoration: none;
}

/*------Universal Section------*/

body {
    font-family: 'Lato', sans-serif;
    color: rgb(60,60,60);
    line-height: 1.5;
    }
header, footer {
    padding: 2% 5%;
}
section {
  padding: 5vh 5%;
}

h1, h2, h3, h4 {
    font-family: 'Lato', sans-serif;
    margin-bottom: 0.5em;
}
h1 {
    font-size: 1.5rem;
    color: #52514f;
}
h2 {
    font-size: 1.4rem;
    text-transform: uppercase;
    color:  #52514f;
}
h3 {
   font-size: 1.2rem;
   text-transform: uppercase;
   color: #52514f;
   text-align: center;
}
.fa {
     color:  #52514f;
}

p {
  font-size: 1.1rem;
  line-height: 1.5;
  margin-bottom: 0.5rem;
  padding: 1%;
  color: #364652;
}
ul {
  list-style-position: inside;
}
ul li {
  line-height: 1.5em;
}
/*-------------Header Section----------*/

.banner {
    min-height: 60vh;
    background-image: url("/images/bio-recovery.jpg");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
  }

.banner h1 {
  padding: 5%;
  font-size: 2.5rem;
  text-align: center;
  }

/*---This is the questions section---*/
.questions a {
  font-size: 1.1rem;
  color: #3a60d1;
  display: block;
  padding: 0.5%;
}
